/* Setting initial default styles */

/* Resetting margins and paddings to ensure consistency accross browsers */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: 'Hanken Grotesk', sans-serif;
}


/* Defining colors variables */
:root {
    /* Primary Colours */
    --light-red: hsl(0, 100%, 67%);
    --light-red-t: hsla(0, 100%, 67%, 0.1);
    --orange-yellow: hsl(39, 100%, 56%);
    --orange-yellow-t: hsla(39, 100%, 56%, 0.1);
    --green-teal: hsl(166, 100%, 37%);
    --green-teal-t: hsla(166, 100%, 37%, 0.1);
    --cobalt-blue: hsl(234, 85%, 45%);
    --cobalt-blue-t: hsla(234, 85%, 45%, 0.1);

    /* Background gradients */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royale-blue: hsl(241, 81%, 54%);

    /* Circles gradients */
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* neutral colours */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavander: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
    --dark-gray-blue-t: hsla(224, 30%, 27%, 0.526);

    /* Border Radius */
    --normal: 1.5em;

}

/* Setting default paragraph font-size */
p {
    font-size: 18px;
}

/* Defining a class for styling a vertical flex container */
.column {
    display: flex;
    flex-direction: column;
}

/* Creating a flex container on the browser window to wrap every other element */
.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling the result-summary-card */
.result-summary-card {
    display: flex;
    height: 530px;
    width: 720px;
    overflow: hidden;
    border-radius: var(--normal);
    box-shadow: 10px 10px 5px var(--pale-blue);
}

/* Styling the score card */
.score-card {
    flex: 50%;
    padding: 1em;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: var(--normal);
    border-bottom-right-radius: var(--normal);
    background-color: var(--light-royale-blue);
}

/* Styling the score-card's heading */
.score-card-heading {
    font-size: 25px;
    color: var(--light-lavander);
}

/* Styling the score-card's circle */
.score-card-circle {
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--violet-blue);
    /* background-image: linear-gradient(to bottom, var(--Violet-blue), var(--Persian-blue)); */
}

/* Styling the test score */
.test-score {
    font-size: 75px;
    color: var(--white);
}

/* Styling the total possible test score */
.total-score {
    color: var(--light-lavander);
}

/* Styling the test's remarks section */
.test-score-remarks {
    align-items: center;
}

/* Styling the main remark */
.remark {
    font-size: 30px;
    text-align: center;
    color: var(--white);
}

/* Styling the additional remark */
.additional-remark {
    padding: 1em 1.8em;
    text-align: center;
    color: var(--light-lavander);
}

/* Styling the result summary card */
.summary-card {
    flex: 50%;
    padding: 1em;
    justify-content: space-around;
    background: var(--white);    
}

/* Styling the result summary card heading */
.summary-card-heading {
    font-size: 25px;
    margin-left: 0.5em;
    color: var(--dark-gray-blue);
}

/* Styling each result item */
.result {
    display: flex;
    justify-content: space-between;
    padding: 1.2em;
    margin: 0.5em;
    position: relative;
    border-radius: 0.8em;
}


/* Styling the subject-name-icon container */
.subject-container {
    display: flex;
}

/* Styling subject icons */
.subject-icon {
    margin-right: 0.5em;
}

/* Defining colors for each subject */
.red {
    color: var(--light-red);
    background: var(--light-red-t);
}

.yellow {
    color: var(--orange-yellow);
    background: var(--orange-yellow-t);
}

.green {
    color: var(--green-teal);
    background: var(--green-teal-t);
}

.blue {
    color: var(--cobalt-blue);
    background: var(--cobalt-blue-t);
}

/* Styling test subjects scores */
.subject-score {
    color: black;
    font-weight: 700;
}

/* Styling the test subjects total posssible scores */
.subject-total {
    color: var(--dark-gray-blue);
}

/* cta button styling */
.button {
    border: none;
    padding: 1.2em;
    margin: 0 0.5em;
    border-radius: 2em;
    color: var(--white);
    font-size: 17px;
    background: var(--dark-gray-blue);
}

/* cta button styling for hover effect */
.button:hover {
    background: var(--cobalt-blue);
}


/* Mobile Design styling for Responsiveness */
@media (max-width: 376px) {

    /* Changing the display of the browser container to optimize for smaller screens. */
    .main-container {
        display: block;
    }

    /* Restyling the result-summary-card to optimize for smaller screens. */
    .result-summary-card {
        width: 100%;
        height: auto;
        display: flex;
        border-radius: 0;
        flex-direction: column;
    }

    /* Adjusting the spacing between the flex-items in the score and summary cards. */
    .score-card,
    .summary-card {
        justify-content: space-between;
    }
    
    /* Removing the top border-radius and including bottom border radius in the score-card to optimize for smaller screens. */
    .score-card {
        border-top-right-radius: 0;
        border-bottom-left-radius: var(--normal);
    }

    /* Restyling the margins between flex items in the summary card. */
    .result,
    .button,
    .summary-card-heading {
        margin: 0.7em;
    }
}