/* Setting initial default styles */

/* Resetting margins and paddings to ensure consistency accross browsers */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Defining colors variables */
:root {
    /* Primary Colours */
    --light-red: hsl(0, 100%, 67%);
    --light-red-t: hsla(0, 100%, 67%, 0.1);
    --orange-yellow: hsl(39, 100%, 56%);
    --orange-yellow-t: hsla(39, 100%, 56%, 0.1);
    --green-teal: hsl(166, 100%, 37%);
    --green-teal-t: hsla(166, 100%, 37%, 0.1);
    --cobalt-blue: hsl(234, 85%, 45%);
    --cobalt-blue-t: hsla(234, 85%, 45%, 0.1);

    /* Background gradients */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royale-blue: hsl(241, 81%, 54%);

    /* Circles gradients */
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* neutral colours */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavander: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
    --dark-gray-blue-t: hsla(224, 30%, 27%, 0.526);

}

/* Setting default paragraph font-size */
p {
    font-size: 18px;
}

/*  */
body {
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
    background-color: var(--white);
}

/* Styling the main card component */
.main-card {
    display: flex;
    height: 530px;
    width: 720px;
    border-radius: 1.5em;
    overflow: hidden;
    box-shadow: 10px 10px 5px var(--pale-blue);
}

/* Defining a class for styling a vertical flex container */
.column {
    display: flex;
    flex-direction: column;
}

/* Styling for the test score card */
.score-card {
    flex: 1;
    padding: 1em;
    border-radius: 1.5em;
    align-items: center;
    justify-content: space-around;
    background-color: var(--light-royale-blue);
}

/* Styling for the test score card heading */
.score-card-heading {
    font-size: 25px;
    color: var(--light-lavander);
}

/* Styling the test-score-card's circle */
.score-card-circle {
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--violet-blue);
    /* background-image: linear-gradient(to bottom, var(--Violet-blue), var(--Persian-blue)); */
}

/* Styling the test score */
.test-score {
    font-size: 75px;
    color: var(--white);
}

/* Styling the total possible test score */
.total-score {
    color: var(--light-lavander);
}

/* Styling the test-score remarks section */
.test-score-remarks {
    align-items: center;
}

/* Styling the main test-score remark */
.remark {
    font-size: 30px;
    text-align: center;
    color: var(--white);
}

/* Styling the additional test-score remarks */
.additional-remark {
    padding: 1.5em;
    text-align: center;
    color: var(--light-lavander);
}

/* Styling the test result summary card */
.summary-card {
    flex: 1;
    padding: 1em;
    justify-content: space-around;
}

/* Styling the test result summary card heading */
.summary-card-heading {
    font-size: 25px;
    margin-left: 0.5em;
    color: var(--dark-gray-blue);
}

/* Styling each result item */
.result {
    display: flex;
    justify-content: space-between;
    padding: 1.2em;
    margin: 0.5em;
    border-radius: 0.8em;
}

/* Styling the subject-name-icon container */
.subject-container {
    display: flex;
}

/* Styling subject icons */
.subject-icon {
    margin-right: 0.5em;
}

/* Defining colors for each subject */
.red {
    color: var(--light-red);
    background: var(--light-red-t);
}

.yellow {
    color: var(--orange-yellow);
    background: var(--orange-yellow-t);
}

.green {
    color: var(--green-teal);
    background: var(--green-teal-t);
}

.blue {
    color: var(--cobalt-blue);
    background: var(--cobalt-blue-t);
}

/* Styling test subjects scores */
.subject-score {
    color: black;
    font-weight: 700;
}

/* Styling the test subjects total posssible scores */
.subject-total {
    color: var(--dark-gray-blue);
}

/* cta button styling */
.button {
    border: none;
    padding: 1.2em;
    margin: 0 0.5em;
    border-radius: 2em;
    color: var(--white);
    font-size: 17px;
    background: var(--dark-gray-blue);
}

/* cta button styling for hover effect */
.button:hover {
    background: var(--cobalt-blue);
}


/* Mobile Design for Responsiveness */
@media screen and (max-width: 375px){
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        flex-direction: column;
    }
}   